:host {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: "Alan Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: x-large;
    background-color: blanchedalmond;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
}
.square {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid blanchedalmond;
    border-top: 1px solid blanchedalmond;

    &-row {
        display: flex;
        flex-direction: row;
    }

    &-item {
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 3px solid blanchedalmond;
        border-bottom: 3px solid blanchedalmond;
        background-color: aquamarine;
    }
}
.col-product {
    color: #999;
    background-color: unset;
    border-right: 3px solid blanchedalmond;
    border-bottom: unset;
    font-size: large;
}
.row-product {
    color: #999;
    background-color: unset;
    border-right: unset;
    border-bottom: 3px solid blanchedalmond;
    border-top: unset;
    font-size: large;
}
.selected {
    background-color: orange;
}
.matched {
    color: green;
}
.won {
    color: gold;
    text-shadow: 0 0 5px black, 0 0 10px black, 0 0 20px black;
}