:host {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: "Alan Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: x-large;
}
.square {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;

    &-row {
        display: flex;
        flex-direction: row;
    }

    &-item {
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 3px solid #fff;
        border-bottom: 3px solid #fff;
        background-color: aquamarine;
    }
}
.col-product {
    background-color: unset;
    border-right: 3px solid #fff;
    border-bottom: unset;
    font-size: large;
}
.row-product {
    background-color: unset;
    border-right: unset;
    border-bottom: 3px solid #fff;
    border-top: unset;
    font-size: large;
}
.used {
    background-color: orange;
}